<div class="container">
  <form [formGroup]="form">

    <div class="form-group row">
      <label for="name" class="col-2 col-form-label"> Name</label>
      <input autocomplete="off"
             id="name"
             class="form-control"
             formControlName="name"
             name="name"/>
    </div>

    <div class="form-group row">
      <label for="surname" class="col-2 col-form-label"> Surname</label>
      <input autocomplete="off"
             id="surname"
             class="form-control"
             formControlName="surname"
             name="surname"/>
    </div>

    <div class="form-group row">
      <label for="birthDate" class="col-2 col-form-label">BirthDate</label> <br>
      <p-calendar id="birthDate"  formControlName="birthDate" dateFormat="dd/mm/yy" utc="true"></p-calendar>
    </div>

    <div class="form-group row">
      <button class="btn btn-primary" (click)="saveUser()" *ngIf="isSaving">Save</button>
      <button class="btn btn-primary" (click)="update()" *ngIf="!isSaving">Update</button>
      <button class="btn btn-primary" (click)="cancel()" *ngIf="!isSaving">Cancel</button>
    </div>
  </form>

  <br/>
  <p-dataTable [value]="users"
               [loading]="isDataLoading"
               emptyMessage="User not found"
               dataKey="id"
               selectionMode="single"
               [(selection)]="selectedUser"
               (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
  >
    <p-column field="id" header="ID" [sortable]="true" [filter]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="surname" header="Surname" [sortable]="true" [filter]="true"></p-column>
    <p-column field="birthDate" header="BirthDate" [sortable]="true" >
      <ng-template let-col let-user="rowData" pTemplate="body">
        {{user[col.field] |date:'dd/MM/yyy'}}
      </ng-template>
    </p-column>

    <p-column header="Action" >
      <ng-template let-col="rowIndex" let-user="rowData" pTemplate="body">
                <span class="fa fa-2x fa-remove"
                      (click)="delete(user)"></span>
      </ng-template>
    </p-column>

  </p-dataTable>
</div>
