<div class="container">
  <form [formGroup]="form">

    <div class="form-group row">
      <label for="name" class="col-2 col-form-label"> Name</label>
      <input autocomplete="off"
             id="name"
             class="form-control"
             formControlName="name"
             name="name"/>
    </div>

    <div class="form-group row">
      <label for="surname" class="col-2 col-form-label"> Surname</label>
      <input autocomplete="off"
             id="surname"
             class="form-control"
             formControlName="surname"
             name="surname"/>
    </div>

    <div class="form-group row">
      <label for="birthDate" class="col-2 col-form-label">BirthDate</label> <br>
      <p-calendar id="birthDate" utc="true" formControlName="birthDate"></p-calendar>
    </div>

    <div class="form-group row">
      <button class="btn btn-primary" (click)="saveUser()">Submit</button>
    </div>
  </form>

  <br/>
  <p-dataTable [value]="users"
               [loading]="isDataLoading"
               emptyMessage="User not found"
               selectionMode="single"
               dataKey="user">
    <p-column field="id" header="ID" [sortable]="true" [filter]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="surname" header="Surname" [sortable]="true" [filter]="true"></p-column>
    <p-column field="birthDate" header="BirthDate" [sortable]="true" ></p-column>
  </p-dataTable>
</div>
